<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragqmatic bookshelf" %>
  </div>
  <div class="columns">
    <div class="side">
      <ul>
        <li><a href="http://www....">Home</a></li>
        <li><a href="http://www..../faq"></a>Questions</li>
        <li><a href="http://www..../news"></a>News</li>
        <li><a href="http://www..../contact"></a>Contact</li>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
